{% extends "base.jinja" %}

{% block content %}
  {% if user.is_authenticated %}
    <p>Current User:{{ user.username }}</p>
  {% endif %}

  {% if distribution == 'arch' %}
    <h1>Arch Linux</h1>
  {% elif distribution == 'debian' %}
    <h1>Debian</h1>
  {% elif distribution == 'redhat' %}
    <h1>RedHat</h1>
  {% else %}
    <h1>Gentoo Linux</h1>
  {% endif %}

  <div>
    <a href="/logout">Logout</a>
  </div>
{% endblock %}